<html>
    <head>
            <%- include('../layout/head.ejs') %>
    </head>
    <body>
        <header>
                <%- include('../layout/header.ejs') %>
        </header>
        <%- include('../layout/charlietest.ejs') %>
        <div id="spinner"></div>
        <main id="theMain">
            <%- include('../layout/result.ejs') %>
        </main>
    </body>
    <footer>
            <%- include('../layout/footer.ejs') %>
    </footer>
</html>
