<div class="results-div">
  <img alt="placeholder" src=<%= event.img %>>
  <h3><%= event.year %> - <%= event.title %></h3>
  <p><%= event.text %></p>
  <a alt="Wikipedia" href="<%= event.link %>" target="_blank"></a>
</div>